@page
@model toshokan.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<form method="get">
    <div class="form-group row">
        <div class="col-md-3">
            <input type="text" asp-for="SearchString" class="form-control" placeholder="Search by first name or last name" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].MembershipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.MemberID">Edit</a> 
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.MemberID">Details</a> 
                    <a class="btn btn-outline-warning" asp-page="./Delete" asp-route-id="@item.MemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
