@page
@model toshokan.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <div class="form-group row">
        <div class="col-md-3">
            <select asp-for="SearchStatus" class="form-control">
                <option value="">All</option>
                <option value="Pending">Pending</option>
                <option value="Expired">Expired</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @if (item.ExpirationDate < DateTime.Now)
                {
                    @:Expired
                }
                else
                {
                    @:Pending
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
                @Html.DisplayFor(modelItem => item.Member.LastName)
            </td>
            <td>
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.ReservationID">Details</a> 
                    <a class="btn btn-outline-warning" asp-page="./Delete" asp-route-id="@item.ReservationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
