@page
@model toshokan.Pages.Loans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.LoanDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.LoanDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.Returned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.Returned)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.Member.FirstName) 
            @Html.DisplayFor(model => model.Loan.Member.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Loan.LoanID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
