@page
@model toshokan.Pages.Loans.IndexModel

@{
    ViewData["Title"] = "Loans Index";
}

<h1>Loans Index</h1>

<p>
    <a asp-page="Create">Create New</a> |
    <a asp-page="/Loans/ReturnBook">Return Book</a>
</p>

<form method="get">
    <div>
        <input type="text" name="searchString" value="@Model.CurrentFilter" />
        <select name="searchOption" asp-for="SearchOption">
            <option value="Book">Book</option>
            <option value="Member">Member</option>
        </select>
        <input type="submit" value="Search" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Loan[0].LoanDate)</th>
            <th>@Html.DisplayNameFor(model => model.Loan[0].ReturnDate)</th>
            <th>@Html.DisplayNameFor(model => model.Loan[0].Returned)</th>
            <th>@Html.DisplayNameFor(model => model.Loan[0].Book.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Loan[0].Member.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Loan[0].Member.LastName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Loan)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LoanDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReturnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Returned)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Member.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.Member.LastName)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.LoanID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.LoanID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.LoanID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
