@page
@model toshokan.Pages.Loans.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get">
    <div class="form-group">
        <input type="text" asp-for="SearchMemberName" class="form-control" placeholder="Search Member..." />
    </div>
    <div class="form-group">
        <select asp-for="SearchReturned" class="form-control">
            <option value="">All</option>
            <option value="true">Returned</option>
            <option value="false">Not Returned</option>
        </select>
    </div>
    <input type="submit" value="Filter" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].Returned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Loan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @if (item.Returned)
                {
                    <img src="ok.png" alt="Returned" class="img-icon d-block mx-auto"/>
                }
                else
                {
                    <form asp-page-handler="BookReturn" asp-route-id="@item.LoanID" method="post">
                        <button class="btn btn-primary">Return</button>
                    </form>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
                @Html.DisplayFor(modelItem => item.Member.LastName)
            </td>
            <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.LoanID">Edit</a> 
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.LoanID">Details</a> 
                    <a class="btn btn-outline-warning" asp-page="./Delete" asp-route-id="@item.LoanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
