@page
@model toshokan.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.CopiesAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.CopiesAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PublishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ImgURL)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Book.ImgURL" alt="Book Image" class="img-small" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.RentCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.RentCost)
        </dd>
    </dl>
</div>

@if (HttpContext.Session.GetString("isLoggedIn") == "true" && HttpContext.Session.GetString("userRole") == "Member")
{
    <div>
        <h4>Members</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Member:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentMember.LastName) @Html.DisplayFor(model => model.CurrentMember.FirstName)
            </dd>
        </dl>
    </div>
}

@if (HttpContext.Session.GetString("isLoggedIn") == "true")
{
    @if (HttpContext.Session.GetString("userRole") == "Admin")
    {
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    }
}

<!-- Modal -->
<div class="modal" id="rentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rental Invoice</h5>
                <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> @Model.Book.Id</p>
                <p><strong>Title:</strong> @Model.Book.Title</p>
                <p><strong>Author:</strong> @Model.Book.Author</p>
                <p><strong>Rent Cost:</strong> @Model.Book.RentCost.ToString("C", new System.Globalization.CultureInfo("en-US"))</p>
                @if (Model.CurrentMember != null)
                {
                    <p><strong>Member:</strong> @Model.CurrentMember.LastName @Model.CurrentMember.FirstName</p>
                }
                else
                {
                    <p><strong>Member:</strong> N/A</p>
                }
            </div>
            <div class="modal-footer">
                @if (HttpContext.Session.GetString("isLoggedIn") == "true")
                {
                    <form method="post" asp-page-handler="Reserve">
                        <input type="hidden" name="bookId" value="@Model.Book.Id" />
                        <button type="submit" class="btn btn-secondary">Rent!</button>
                    </form>
                }
                else
                {
                    <a href="/Accounts/Login" class="btn btn-secondary">Login to Rent</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="btn btn-success btn-block btn-confirm" type="button">Confirm Rent</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btn-confirm').on('click', function () {
                $('#rentModal').modal('show');
            });
            $('#closeButton').on('click', function () {
                $('#rentModal').modal('hide');
            });
        });
    </script>
}